body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9F1FA; /* Light blue background */
}

header {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White text */
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.mynav {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White text */
    border-color: #0090c1;
    
}

.navbar-nav > li > a {
    color: #FFFFFF !important; /* White text */
    border-radius: 10px;
}

.navbar-nav > li > a:hover {
    color: #00ABE4 !important; /* White text */
    background-color: #FFFFFF !important; /* White background on hover */
}

main {
    padding: 1rem;
}

footer {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White text */
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

#cv {
    color: #FFFFFF; /* White text */
    background-color: #00ABE4; /* Bright blue */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#cv:hover {
    background-color: #E9F1FA; /* Light blue on hover */
    color: #00ABE4; /* Bright blue text on hover */
}

.imagem {
    width: 100%;
    height: auto;
}

#drop {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White text */
}

#dropdown {
    background-color: #00ABE4; /* Bright blue */
    color: #FFFFFF; /* White text */
}

.dropdown-menu > li > a {
    color: #FFFFFF !important; /* White text */
}

.dropdown-menu > li > a:hover {
    color: #00ABE4 !important; /* White text */
}

h3 {
    color: #00ABE4; /* Bright blue */
    padding: 10px 0px 10px 0px;
}
